mixin project(labels, project)
  .project-list__item.project
    .project__content
      .project__summary
        h3.project__title= project.title
        p.project__tagline!= project.tagline
      .project__details
        //- p.project__label= labels.about
        p!= project.about
        p.project__label= labels.more
        p!= project.more
        .project__links
          if project.github
            a.btn.btn--hollow.btn--github.project__link-btn(href=project.github) Prohlédnout na GitHubu
          if project.slack && project.slackUrl
            a.btn.btn--hollow.btn--slack.project__link-btn(href=project.slackUrl) Přidat se k ##{project.slack} na Slacku
