mixin project(labels, project)
  - var label_github = {cs : "Prohlédnout na GitHubu", en : "View on Github"};
  - var label_trello = {cs : "Prohlédnout na Trellu", en : "View on Trello"};
  - var label_slack_prefix = {cs : "Přidat se k", en : "Join"};
  - var label_slack_suffix = {cs : "na Slacku", en: "on Slack"};
  
  .project-list__item.project
    .project__content
      .project__summary
        h3.project__title= project.title
        p.project__tagline!= project.tagline
      .project__details
        //- p.project__label= labels.about
        p!= project.about
        p.project__label= labels.more
        p!= project.more
        .project__links
          if project.github
            a.btn.btn--hollow.btn--github.project__link-btn(href=project.github target="_blank") #{label_github[lang]}
          if project.slack && project.slackUrl
            a.btn.btn--hollow.btn--slack.project__link-btn(href=project.slackUrl target="_blank") #{label_slack_prefix[lang]} ##{project.slack} #{label_slack_suffix[lang]} 
          if project.trello
            a.btn.btn--hollow.btn--trello.project__link-btn(href=project.trello target="_blank") #{label_trello[lang]}
